WI-quickAdd { width: 100%; height: auto; padding: 20px; left: 0; z-index: 1; background-color: rgba(255,255,255,0.4); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); pointer-events: all; opacity: 0; visibility: hidden; transition: 0.2s ease-out; position: absolute; bottom: 0px; }
.card-wrapper:hover WI-quickAdd { opacity: 1; visibility: visible; }
.WI_quickAdd_in { width: 100%; height: auto; display: flex; justify-content: flex-start; flex-wrap: wrap; gap: 5px; }
.WI_quickAdd_variant_in { width: 100%; height: auto; display: flex; justify-content: center; flex-wrap: wrap; gap: 5px; }
.WI_quickAdd_atc { border: none; width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; background-color: #fff; cursor: pointer; position: relative; pointer-events: all; }
.WI_quickAdd_atc:hover { color: #fff; background-color: #000; }
.WI_quickAdd_atc:disabled { cursor: not-allowed; overflow: hidden; color: #000; background-color: #fff; opacity: 0.4; }
.WI_quickAdd_atc:disabled:hover { background-color: #fff; }
.WI_quickAdd_atc:disabled::after { content: ""; width: 200%; height: 1px; background-color: #cacaca; position: absolute; top: 0; right: 0; transform: rotate(-45deg); transform-origin: right; }
.WI_quickAdd_atc:not(.svg) { display: none; width: 30px; height: 30px; background-color: transparent; }
.WI_quickAdd_atc:not(.svg) svg { width: 15px; height: 15px; opacity: 0.9; }
.WI_quickAdd_atc:not(.svg):hover { background-color: transparent; }
.WI_quickAdd_atc circle, .quickATC circle { stroke: #000; }
.WI_quickAdd_atc:hover circle, .quickATC:hover circle { stroke: #fff; }
.WI_quickAdd_atc .black circle { stroke: #000; }
.WI_quickAdd_atc svg { width: 18px; height: 18px; display: block; }
.WI_Add_atc { border: none; height: 40px; display: flex; align-items: center; justify-content: center; background-color: #fff; cursor: pointer; position: relative; pointer-events: all; padding: 0 10px; width: 100%; text-transform: capitalize; font-weight: 600; }
.WI_Add_atc:disabled { cursor: not-allowed; overflow: hidden; color: #000; background-color: #fff; opacity: 0.4; }
.WI_Add_atc:hover { color: #fff; background-color: #000; }
.WI_mobileQuickViewBtn { width: 30px; height: 30px; background-color: rgba(255,255,255,0.4); backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px); border-radius: 20px; display: none; justify-content: center; align-items: center; padding: 0; color: #000; border: none; }
.WI_mobileQuickViewBtn:disabled { opacity: 0.4; }
.WI_mobileQuickViewBtn svg { width: 15px; height: 15px; opacity: 0.9; }
.singleQuickAdd::after { content: ""; width: 0 !important; height: 0 !important; }
@media screen and (max-width: 500px) {
  .WI_quickAdd_atc:not(.svg) { display: block; }
  .WI_quickAdd_atc { display: none; }
  WI-quickAdd { background-color: rgba(255,0,0,0); backdrop-filter: blur(0px); -webkit-backdrop-filter: blur(0px); opacity: 1; visibility: visible; padding: 10px; }
  .WI_quickAdd_variant_in { justify-content: flex-end; }
  .WI_mobileQuickViewBtn { display: flex; background-color: rgb(255 255 255 / 0%); }
}