.marquee-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.marquee {
    --scale: 0.7;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: max-content;
    white-space: nowrap;
    position: relative;
    direction: ltr;
    margin: 0;
    /* padding-top: calc(var(--vertical-padding) * var(--scale));
    padding-bottom: calc(var(--vertical-padding) * var(--scale)); */
}

.marquee-content {
    display: flex;
    align-items: center;
    padding-right: 0.2em;
    width: max-content;
}
.rimage-outer-wrapper .rimage-wrapper {
    display: flex;
}
.marquee-inner-row {
    padding: 50px 0;
}
.marquee-inner-row:before {
    content: "";
    position: absolute;
    left: 0;
    width: calc((100vw - var(--page-width)) / 2 + 50px)!important;
    height: 100%;
    background: #fff;
    z-index: 99;
    top: 0;
}

@media (min-width: 1481px){
    .marquee-inner-row {
        padding-inline: calc((100vw - var(--page-width)) / 2 + 50px)!important;
        position: relative;
    }
}

@media (max-width: 1480px){
    .marquee-inner-row {
        padding: 50px 5rem;
    }
    .marquee-inner-row:before {
        width: 5rem!important;
    }
}

@media (max-width: 750px){
    .marquee-inner-row:before {
        display: none;
    }
}

.marquee-container {
    margin: 0 auto;
    /* padding: 50px 5rem; */
}

@media (prefers-reduced-motion: reduce) {
    .marquee-content {
        animation: none;
        width: auto;
        display: block;
        text-align: center;
        white-space: normal;
    }

    .marquee-content[aria-hidden=true] {
        display: none;
    }
}

[dir=rtl] .marquee-content {
    direction: rtl;
}

.js .marquee:not(.marquee--animate) {
    opacity: 0;
}

.marquee--animate .marquee-content {
    animation: marquee var(--duration) linear infinite;
}

.marquee:hover .marquee-content--contains-link {
    animation-play-state: paused;
}

.marquee--right .marquee-content {
    animation-direction: reverse;
}

@supports (-webkit-text-stroke: 0.01em currentColor) {

    .marquee-text--stencil,
    .marquee-stencil-this {
        -webkit-text-stroke: 0.01em currentColor;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee-item {
    padding-right: calc(var(--space) * var(--scale));
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marquee-item a:not(.btn) {
    color: inherit;
}

.marquee-item_h1 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    text-transform: inherit;
}

.marquee-text {
    font-size: max(calc(var(--text-size) * var(--scale)), 12px);
    color: var(--color, inherit);
}

.marquee-icon .icon {
    display: block;
    color: var(--color);
    width: calc(var(--width) * var(--scale));
    height: calc(var(--width) * var(--scale));
}

.marquee-image .placeholder-image,
.marquee-image .rimage-outer-wrapper {
    display: block;
    width: calc(var(--width) * var(--scale));
}

.marquee-button .btn--custom,
.marquee-button .btn--custom:hover {
    color: var(--btn-col-text);
    background: var(--btn-col-bg);
    border: none;
}
.marquee-inner-row {
    display: flex;
}

.marquee {
    width: 82%;
}

.marquee-left-header {
    width: 18%;
    display: flex;
    align-items: center;
    max-width: 180px;
    padding: 0 10px 0 0;
    background: var(--gradient-background);
    z-index: 1;
}

@media (max-width: 1480px){
    /* .marquee-left-header {
        justify-content: center;
        padding: 0 10px;
        max-width: unset;
    } */
}

.marquee-left-header h4 {
    margin: 0;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0;
    font-weight: 400;
}
@media (min-width: 768px) {
    .marquee {
        --scale: 0.85;
    }
}

@media (min-width: 1000px) {
    .marquee {
        --scale: 1;
    }
}
@media (max-width: 750px){
    .marquee-inner-row {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        padding: 25px 0;
    }

    .marquee-left-header {
        width: 100%;
        justify-content: center;
    }

    .marquee {
        width: 100%;
    }
}